shapely~=1.7.1
imgaug==0.4.0
pyclipper~=1.2.1
lmdb~=1.1.1
opencv-python~=4.5.1.48
tqdm~=4.55.1
numpy~=1.19.2
pillow~=8.1.1
pyyaml~=5.4.1
requests~=2.25.1
scipy~=1.4.1
redis~=3.5.3
flask~=1.1.2
flask_cors
paddlepaddle-gpu==2.0.0